---
import Layout from '../layouts/Layout.astro';
import 'animate.css';
---

<Layout title="details">
  <main>
    <h1 class="animate__animated animate__slideInDown">Page not found!</h1>
    <h4>You shouldn't be here!</h4>
  </main>
</Layout>
