---
import Layout from '../layouts/Layout.astro';
import 'animate.css';
---

<Layout title="Details">
  <main class="details">
    <h1 class="animate__animated animate__slideInDown">My Details</h1>
    <p>All my contact information, career history, open-source projects, tech-stacks used are in my LinkedIn profile, so please check it out!</p>
    <a href="https://www.linkedin.com/in/tankashing" target="_blank">Click here to visit my LinkedIn profile!</a>
    <div class="linkedin-container">
      <div
        class="badge-base LI-profile-badge"
        data-locale="en_US"
        data-size="large"
        data-theme="dark"
        data-type="HORIZONTAL"
        data-vanity="tankashing"
        data-version="v1"
      >
      </div>
    </div>
  </main>
</Layout>

<script is:inline src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

<style>
  .details {
    gap: 20px;
  }

  .linkedin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
</style>
