---
import Layout from '../layouts/Layout.astro';
import ImageList from '../components/ImageList.astro';

import 'animate.css';
---

<Layout title="Chanie Baby">
  <main>
    <h1 class="animate__animated animate__slideInDown">Hi there! My Love.</h1>
    <ImageList />
  </main>
</Layout>

<style>
  h3 {
    font-weight: 400;
  }
</style>
