---
import Layout from '../layouts/Layout.astro';

import 'animate.css';
---

<Layout title="Secrets">
  <main>
    <h1 class="animate__animated animate__slideInDown">You found the secret page!</h1>
    <h3>for you are now blessed with the powers of the Kwisatz Haderach!</h3>
    <div class="secrets">
      <label>Enter your secret passphrase</label>
      <input type="text" placeholder="Enter your given key" />
      <button id="submit-secret">Unlock the secrets</button>
    </div>
  </main>
</Layout>

<script>
  import confetti from 'canvas-confetti';

  document.getElementById('submit-secret').addEventListener('click', () => {
    triggerFireworks();
    switch (document.querySelector('input').value) {
      case 'melange':
        alert('The spice must flow!');
        break;
      case 'muad_dib':
        alert('He who controls the spice controls the universe!');
        break;
      case 'ilovechanie':
        window.location.href = '/mylove';
        break;
      default:
        alert('Wrong Value, the Bene Gesserit are watching you!');
    }
  });

  const triggerFireworks = () => {
    var duration = 15 * 1000;
    var animationEnd = Date.now() + duration;
    var defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

    function randomInRange(min, max) {
      return Math.random() * (max - min) + min;
    }

    var interval = setInterval(function () {
      var timeLeft = animationEnd - Date.now();

      if (timeLeft <= 0) {
        return clearInterval(interval);
      }

      var particleCount = 50 * (timeLeft / duration);
      // since particles fall down, start a bit higher than random
      confetti({ ...defaults, particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } });
      confetti({ ...defaults, particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } });
    }, 250);
  };
</script>

<style>
  h3 {
    font-weight: 400;
  }

  .secrets {
    display: flex;
    margin-top: 36px;
    flex-direction: column;
    background-color: #121212;
    padding: 24px;
    gap: 20px;
    border-radius: 20px;

    label {
      font-size: 1.2rem;
      color: #fff;
      font-weight: 500;
    }

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #ff5722;
      color: #fff;
      font-weight: 500;
      cursor: pointer;
    }
  }
</style>
