---
import Navbar from '../components/Navbar.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>

  <body>
    <Navbar />
    <div id="canvas"></div>
    <slot />
    <footer>
      <button data-confetti-button>Made with ❤️ by Tan Ka-Shing.</button>
    </footer>
  </body>

  <script src="../scripts/starfield.js"></script>
  <script src="../scripts/confetti.js"></script>

  <style is:global>
    :root {
      background-color: black;
      color: white;
    }

    html {
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    }

    footer {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 12px;
      height: 48px;
      position: fixed;
      bottom: 0;
    }

    footer > button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    #canvas {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -100;
    }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-height: 80vh;
      height: 100%;
    }

    a {
      border-radius: 32px;
      background-color: #141414;
      padding: 12px 20px;
      display: flex;
      min-width: 50px;
      justify-content: center;
      align-items: center;
      transition: all 0.19s;
      color: white;
    }

    a:hover {
      text-decoration: underline;
      transform: scale(1.1);
    }
  </style>
</html>
